
.headline {
  background-image: url("./assets/Header\ bg.svg");
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.intro {
  margin-bottom: 3vh;
  margin-left: 1vh;
  margin-right: 1vh;
  display: flex;
  width: 60%;
  padding: 3rem;
}

.icon {
  color: #505f79;
  margin-top: 5px;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

h1 {
  font-family: sans-serif;
  font-style: normal;
  display: flex;
  color: #091e42;
  font-weight: 800;
  font-size: 43px;
  margin: 1px;
}

.intro-text {
  font-size: 15px;
}

.nav-logo {
  margin-left: 30px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #6070ff;
  text-decoration: none;
  font-size: 25px;
}

.navbar-toggler-icon {
  color: #6070ff;
}

.menu-toggle {
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  align-items: center;
  z-index: 3;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #6070ff;
  border-radius: 3px;
  transition: all 0.5s;
  margin-top: 5px;
  z-index: 100;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-4px, -4px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.bil {
  color: #6070ff;
  margin-right: 2rem;
  float: right;
}

.let {
  color: #1a31ff;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  background-color: white;
  z-index: 1000;
}

.col-h {
  font-size: 25px;
}

.link {
  text-decoration: none;
  padding: 1px;
}

.link-list {
  display: flex;
  margin-left: 1px;
  padding-left: 1px;
}

body {
  background: #f3f3f3;
  margin: 1px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

ul {
  list-style-type: none;
}

.nav-link-div {
  display: flex;
  margin: 1px;
  padding-right: 1rem;
  margin-right: 5rem;
}

.nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: sans-serif;
  color: #fff;
  font-size: 23px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
}

.grid-card {
  margin: 1rem;
  background-color: white;
  gap: 1rem;
  border: 1px solid rgb(206, 218, 216);
  border-radius: 10px;
  padding: 1rem;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  nav ul {
    position: absolute;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background-color: teal;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0.9 !important;
  }

  nav ul li a {
    color: white;
    margin-left: 30px;
  }

  nav ul.slide {
    opacity: 0.8;
    transform: translateX(0);
    background-color: #6070ff;
    color: white;
    z-index: 2;
  }

  .card-img {
    width: 100%;
    height: 100%;
  }

  .intro-head {
    margin-top: 1rem;
  }

  .grid-card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .contact-me {
    padding: 2rem;
  }

  .about-me {
    flex-direction: column;
  }
}

.card-attribut {
  display: flex;
  flex-direction: row;
}

.card-title {
  font-family: sans-serif;
  font-style: normal;
  display: flex;
  color: #091e42;
  font-weight: 800;
  font-size: 34px;
  margin: 1px;
}

.card-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #344563;
  font-family: sans-serif;
  font-style: normal;
  display: flex;
}

.dot {
  height: 7px;
  width: 7px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.att1 {
  color: #344563;
  font-family: sans-serif;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.att2 {
  color: #3e565e;
  font-family: sans-serif;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.tag-section {
  margin-bottom: 1rem;
  display: flex;
  padding-left: 1px;
  margin-left: 1px;
}

.tag-div {
  background: #ebebff;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 5px;
  margin: 5px;
}

.tag {
  font-family: sans-serif;
  color: #1a31ff;
  font-size: 11px;
}

.button {
  font-family: sans-serif;
  background-color: white;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: #6070ff;
  color: white;
  text-decoration: none;
}

.about-me {
  background-color: white;
  border-top-right-radius: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.d-header {
  background-color: white;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.btn {
  text-decoration: none;
  font-size: 25px;
  background-color: white;
}

.language {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  background-color: #f7f7f7;
}

.language-img {
  height: 50px;
  width: 50px;
  margin-right: 2rem;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.language-name {
  padding-top: 20px;
}

.bt {
  display: flex;
}

.contact-me {
  display: flex;
  flex-direction: column;
  background-color: #6070FF;
  align-items: center;
  justify-content: center;
  color: white;
  border-top-left-radius: 50px;
  background-image: url("./assets/contact\ form\ background\ shapes.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-head {
  margin-top: 8rem;
  font-weight: bold;
  font-size: 40px;
}

.contact-description {
  margin: 1rem;
  color: white;
  font-size: 18px;
  font-style: normal;
  display: flex;
  text-align: center;
  transition: margin 1s;
}

.contact-description:hover {
  margin-left: 2rem;
}

#form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.name-email {
  width: 100%;
  height: 43px;
  margin-bottom: 1rem;
  border-radius: 9px;
  border: 1px solid rgb(206, 218, 216);
  padding-left: 10px;
  transition: padding 1s;
}

#message {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 9px;
  border: 1px solid rgb(206, 218, 216);
  padding-left: 10px;
  padding-top: 10px;
}

#message:focus {
  outline: 6px solid rgba(0, 0, 0, 0.2);
}

.form-button {
  align-self: center;
  justify-self: center;
}

p {
  font-family: sans-serif;
  font-style: normal;
  display: flex;
  letter-spacing: 0.37px;
  color: #091e42;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 684px;
}

.skill-title {
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 0.1px;
  color: #344563;
}

.skill-arrow {
  float: right;
}

@media only screen and (min-width: 992px) {
  .menu-toggle {
    display: none;
  }

  .nav-link {
    display: block;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: sans-serif;
    color: #344563;
  }

  body {
    max-width: 100%;
  }

  .card-img {
    width: 55%;
    height: 100%;
    max-width: 600px;
    min-width: 250px;
    transition: width 2s;
  }

  .card-img:hover {
    width: 70%;
  }

  .c-2 {
    order: 1;
  }

  .grid-card {
    display: flex;
    flex-direction: row;
    height: 60vh;
    margin: 4rem;
    max-width: 1200px;
  }

  .me {
    width: 40%;
    margin-right: 1rem;
    margin-left: 4rem;
    max-width: 447px;
  }

  .contact-me-div {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .boo-body {
    display: flex;
    gap: 20px;
  }

  .card-body {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    width: 50%;
  }

  .language {
    flex-direction: column;
  }

  .exp {
    display: none;
  }

  .name-email {
    width: 400px;
    height: 43px;
    margin-bottom: 1rem;
    border-radius: 9px;
    border: 1px solid rgb(206, 218, 216);
  }

  .name-email:hover {
    padding-left: 30px;
  }

  #message {
    width: 400px;
    margin-bottom: 1rem;
    border-radius: 9px;
    border: 1px solid rgb(206, 218, 216);
  }

  #message:hover {
    padding-left: 30px;
  }

  h1 {
    font-size: 48px;
  }
}
