/* 
.header{
    display: flex;
    flex-direction: row;
} */
.intro {
  background-color: #ffffff;
  position: relative;
  align-items: center;
  background-image: url("./Header_bg.svg");
  height: 70vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  margin-left: 3vh;
  margin-right: 1vh;
  justify-content: center;
  display:flex;
}

.icon{
  color: #505F79;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 25px;
  height:25px;
}

h1 {
  font-family:fantasy, sans-serif;
  font-style: normal;
  display: flex;
  /* align-items: center; */
  letter-spacing: 0.37px;
  color:#091E42;
  font-weight: 700;
}

p {
  font-family:fantasy, sans-serif;
  font-style: normal;
  display: flex;
  /* align-items: center; */
  letter-spacing: 0.37px;
  color:#091E42;   
}

#navbarNavDropdown{
 flex-flow: row-reverse;
}
.nav-logo{
  margin-left: 30px;
  font-family:fantasy, sans-serif;
  font-style: normal;
  font-weight: 600;
  color:#6070FF;
  text-decoration: none;
  font-size: 25;


}
.navbar-toggler-icon{
  color:#6070FF;
}

.bil{
  color:#6070FF;
  margin-right: 20px;
}

.let{
  color:#7F8CFF;
}

a{
  text-decoration:none;
}