
.headline {
  background-image: url("./assets/Header\ bg.svg");
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.intro {
  position: relative;
  margin-bottom: 3vh;
  margin-left: 1vh;
  margin-right: 1vh;
  display: flex;
  width: 60%;
}

.icon {
  color: #505f79;
  margin-top: 5px;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

h1 {
  font-family: sans-serif;
  font-style: normal;
  display: flex;
  color: #091e42;
  font-weight: 800;
  font-size: 48px;
  margin: 1px;
}

.intro-text {
  font-size: 15px;
}

.nav-logo {
  margin-left: 30px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #6070ff;
  text-decoration: none;
  font-size: 25px;
  transform: rotate(60deg);
}

.navbar-toggler-icon {
  color: #6070ff;
}

.bil {
  color: #6070ff;
  margin-right: 2rem;
  float: right;
}

.let {
  color: #7f8cff;
}

a {
  text-decoration: none;
}

.navbar {
  padding-top: 1rem;
  background-color: white;
  z-index: 1000;
}

.col-h {
  font-size: 25px;
}

.link {
  text-decoration: none;
  padding: 1px;
}

.link-list {
  display: flex;
  margin-left: 1px;
  padding-left: 1px;
}
